<header>
  <a routerLink="/">
    <img class="logo" src="/logo.png" alt="JA Jeans logo" />
  </a>

  <div class="search-container">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" class="search-input" placeholder="Sök produkt..." />
  </div>

  <div class="icon-container">
    <span class="icon-link">
      <i class="fa-regular fa-user"></i>
    </span>
    <span class="icon-link">
      <i class="fa-regular fa-heart"></i>
    </span>
    <span class="icon-link">
      <i class="fa-solid fa-cart-shopping"></i>
    </span>
  </div>
</header>
