<div class="footer-container">
  <div class="jeans-club">
    <h2>Jeans Club</h2>
    <p>
      Som medlem i Jeans Club får du 10% rabatt på ditt första köp. Du får unika
      erbjudanden, alltid fri frakt (till ombud) vid köp över 500 kr samt samlar
      poäng på alla köp och aktiviteter.
    </p>
    <button class="join-button">Bli medlem →</button>
    <h3>Följ oss på</h3>
    <a href="https://github.com/amela99" target="_blank" class="social-icon">
      <i class="fa-brands fa-github"></i>
    </a>
  </div>

  <div class="footer-links">
    <div class="footer-column">
      <h3>Hjälp</h3>
      <ul>
        <li><a href="#">Kundservice</a></li>
        <li><a href="#">Vanliga frågor</a></li>
        <li><a href="#">Beställning</a></li>
        <li><a href="#">Kontakta oss</a></li>
        <li><a [routerLink]="'/Admin/Products'">Administration</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Om JA Jeans</h3>
      <ul>
        <li><a href="#">Om oss</a></li>
        <li><a href="#">Hållbarhet</a></li>
        <li><a href="#">Karriär</a></li>
        <li><a href="#">Press & Nyheter</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Populära länkar</h3>
      <ul>
        <li><a href="#">Logga in</a></li>
        <li><a href="#">Hitta butik</a></li>
        <li><a href="#">Studentrabatt</a></li>
        <li><a href="#">Jeans Club</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="copyright">Copyright &copy; 2025 by JA Jeans</div>
