<div class="hero-container">
  <div class="hero-image-wrapper">
    <img src="/hero.jpg" alt="Produktbild" class="hero-image" />

    <div class="hero-box">

    </div>
  </div>

  <div class="hero-text">
    <h1>Välkommen till JA Store – Där stil möter personlighet</h1>
    <p>
        På JA Store tror vi att mode är mer än bara kläder – det är ett sätt att visa vem du är. Vi handplockar varje kollektion med fokus på kvalitet, komfort och självsäkerhet – för dig som vågar sticka ut eller bara vill känna dig bekväm i din vardagslook.
    </p>
  </div>
</div>
